[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pillow = "*"
gunicorn = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
pytest-mock = "*"
pytest-env = "*"
mixer = "*"

[dev-packages]

[requires]
python_version = "3.9"
