
<img class="b-logo" src="assets/images/B-red.svg" [ngStyle]="{'display': !signInMode ? 'block' : 'none'}">
<img class="b-logo" src="assets/images/B-gray.svg" [ngStyle]="{'display': signInMode ? 'block' : 'none'}">
<div class="content">
    <div class="auth-widget">
        <div class="auth-buttons">
            <a class="auth-button" (click)="signInMode=false" [ngClass]="{'active': !signInMode}">Sign up</a>
            <a class="auth-button" (click)="signInMode=true" [ngClass]="{'active': signInMode}">Sign in</a>
        </div>
        <div class="auth-content" [ngStyle]="{'display': !signInMode ? 'block' : 'none'}">
            <div class="auth-title-box">
                <div class="auth-title">Create your <span>B</span>udget Manager account</div>
            </div>
            <div class="auth-multiple-accounts-box">
                <div class="auth-multiple-accounts-title">One account can be used by several users.</div>
                <div class="auth-multiple-accounts-title">User can select what other users can do with this account.</div>
            </div>
            <form class="auth-form" #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)">
                <div class="auth-form-group">
                    <input type="text" class="auth-form-input" ngModel required name="firstName" placeholder="First name">
                    <input type="text" class="auth-form-input" ngModel required name="secondName" placeholder="Second name">
                </div>
                <input 
                    type="email" 
                    class="auth-form-input" 
                    ngModel 
                    required 
                    name="email" 
                    placeholder="E-mail"
                    [ngClass]="{'invalid': signUpError == 'NON_UNIQUE_EMAIL_ERROR'}"
                >
                <div class="auth-form-group">
                    <input 
                        type="password" 
                        class="auth-form-input" 
                        ngModel 
                        required 
                        name="password" 
                        placeholder="Password"
                        [ngClass]="{'invalid': signUpError == 'WRONG_PASSWORD_CONFIRMATION_ERROR'}"
                    >
                    <input 
                        type="password" 
                        class="auth-form-input" 
                        ngModel 
                        required 
                        name="passwordConfirmation"
                        placeholder="Confirm password"
                        [ngClass]="{'invalid': signUpError == 'WRONG_PASSWORD_CONFIRMATION_ERROR'}"
                    >
                </div>
                <div class="auth-agreement">By clicking Sign Up, you agree to our <a>Terms of Use</a> and our <a>Privacy Policy</a>.</div>
                <div class="auth-error" *ngIf="signUpError">
                    <div *ngIf="signUpError == 'WRONG_PASSWORD_CONFIRMATION_ERROR'">
                        Password and confirmation password do not match.
                    </div>
                    <div *ngIf="signUpError == 'NON_UNIQUE_EMAIL_ERROR'">
                        User with this email already exists.
                    </div>
                </div>
                <button class="auth-form-btn" [disabled]="signUpForm.invalid || loading" [ngClass]="{'invalid': signUpError}">Sign up</button>

            </form>
        </div>
        <div class="auth-content" [ngStyle]="{'display': signInMode ? 'block' : 'none'}">
            <div class="auth-title-box">
                <div class="auth-title">Sign in to your <span>B</span>udget Manager account</div>
            </div>
            <form class="auth-form sign-in-form" #signInForm="ngForm" (ngSubmit)="onSignIn(signInForm)">
                <input type="email" class="auth-form-input" ngModel required name="email" placeholder="E-mail">
                <input type="password" class="auth-form-input" ngModel required name="password" placeholder="Password">

                <div class="auth-agreement">By clicking Sign In, you agree to our <a>Terms of Use</a> and our <a>Privacy Policy</a>.</div>
                <div class="auth-error sign-in-error" *ngIf="signInError">
                    <div *ngIf="signInError == 'CREDENTIALS_ERROR'">
                        The email or password you entered is invalid.
                    </div>
                </div>
                <button class="auth-form-btn sign-in-btn" [disabled]="loading" [ngClass]="{'invalid': signInError}">Sign in</button>
                <a class="auth-forgot-password">Forgot your password?</a>
            </form>
        </div>
    </div>
</div>